.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.dash {
  margin: 1rem;
  display: inline-grid;
  grid: 150px / 200px 200px;
  grid-gap: 2em;
}

.dial {
  padding: 0 1em;
  font-weight: bold;
  box-shadow: 1px 1px 3px #555;
  transition: box-shadow 0.2s ease;
}

.dial:hover {
  box-shadow: 1px 1px 10px #555;
}

.dial a {
  line-height: 2rem;
}

.large {
  font-size: 2em;
}

.error {
  width: 400px;
  margin: 1rem auto;
  padding: 1rem;
  background: pink;
}

.load {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}
